* {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
}

@font-face {
  font-family: KBFGDisplay;
  src: url(../../assets/fonts/KBFGDisplayL.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: KBFGDisplay;
  src: url(../../assets/fonts/KBFGDisplayM.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: KBFGDisplay;
  src: url(../../assets/fonts/KBFGDisplayB.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: url(../../assets/fonts/SpoqaHanSansNeo-Regular.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: url(../../assets/fonts/SpoqaHanSansNeo-Medium.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: url(../../assets/fonts/SpoqaHanSansNeo-Bold.woff) format("woff");
  font-weight: 700;
}
/*inner*/
.inner {
  margin: auto;
  width: 1480px;
}

/*header*/
header {
  height: 70px;
}