@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  font-family: "SpoqaHanSansNeo", "sans-serif";
  background-color: #f9f9f9;
}

@font-face {
  font-family: KBFGDisplay;
  src: url(../../assets/fonts/KBFGDisplayL.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: KBFGDisplay;
  src: url(../../assets/fonts/KBFGDisplayM.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: KBFGDisplay;
  src: url(../../assets/fonts/KBFGDisplayB.woff) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: url(../../assets/fonts/SpoqaHanSansNeo-Regular.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: url(../../assets/fonts/SpoqaHanSansNeo-Medium.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: SpoqaHanSansNeo;
  src: url(../../assets/fonts/SpoqaHanSansNeo-Bold.woff) format("woff");
  font-weight: 700;
}
/*inner*/
.inner {
  margin: auto;
  width: 1295px;
}

/*header*/
header {
  display: flex;
  align-items: center;
  height: 70px;
}
header header:hover {
  background-color: #fff;
}
header .inner {
  display: flex;
  align-items: center;
  /*********    h1 (S)     **************/
  /***********     nav (S)      *************/
  /*************  rifht menu (S)  **********/
}
header .inner h1 img {
  width: 130px;
  height: 24px;
  margin: 10px 16px 7px 0;
}
header .inner nav {
  flex-grow: 5;
  /* nav구역 hover */
}
header .inner nav ul {
  display: flex;
}
header .inner nav ul li {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 16px;
}
header .inner nav ul a::after {
  content: "";
  display: none;
  position: absolute;
  top: 45px;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 100%;
}
header .inner nav a {
  padding: 10px 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: KBFGDisplay;
  color: #707070;
}
header .inner nav li:hover a {
  color: #000;
}
header .inner nav li:hover a::after {
  display: block;
}
header .inner div {
  display: flex;
  align-items: center;
  flex-grow: 0;
  /* right menu 구역 hover */
}
header .inner div ul {
  display: flex;
}
header .inner div a {
  padding: 10px;
  font-size: 1.4rem;
  color: #707070;
}
header .inner div .btn_login {
  margin: 0 20px;
  padding: 5px 12px;
  border: 1px solid #c8c8c8;
  border-radius: 50px;
}
header .inner div button {
  width: 40px;
  border: none;
  background-color: #f9f9f9;
}
header .inner div button img {
  width: 32px;
}
header .inner div li:hover a {
  color: #000;
  font-weight: bold;
}
header .inner div .btn_login:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid gray;
}

/* MAIN */
/******* h2 (S) ******/
h2 {
  padding: 30px 0;
  font-size: 3rem;
  color: #303030;
  font-weight: bold;
  font-family: KBFGDisplay;
  line-height: 1.3;
}
h2 span {
  font-size: 1.8rem;
  font-weight: 100;
  font-family: SpoqaHanSansNeo;
}

/*******    left box (S)    ******/
section {
  display: flex;
}
section .left_box {
  /* left-box hover */
}
section .left_box ul {
  display: flex;
  flex-wrap: wrap;
  width: 530px;
}
section .left_box ul .item1 {
  background: #fff url(../../assets/img/icon_car.png) no-repeat 80% 80%/50px;
}
section .left_box ul .item2 {
  background: #fff url(../../assets/img/icon_coin.png) no-repeat 80% 80%/50px;
}
section .left_box ul .item3 {
  background: #fff url(../../assets/img/icon_corp.png) no-repeat 80% 80%/50px;
}
section .left_box ul .item4 {
  background: #fff url(../../assets/img/icon_person.png) no-repeat 80% 80%/50px;
}
section .left_box li {
  position: relative;
  width: 232px;
  height: 240px;
  margin: 0 20px 20px 0;
  border: 1px solid #e6e6e6;
  border-radius: 25px;
  z-index: 100;
}
section .left_box a {
  position: absolute;
  top: 30px;
  left: 25px;
}
section .left_box strong {
  font-size: 2rem;
  font-weight: bold;
  font-family: KBFGDisplay;
}
section .left_box p {
  padding: 20px 0 0 0;
  font-size: 1.5rem;
  color: #707070;
}
section .left_box .item1 a::before {
  content: "";
  display: block;
  width: 232px;
  height: 240px;
  background: url(../../assets/img/bg_card01.png) no-repeat right -20px bottom -20px/180px;
  transform: scale(2);
  opacity: 0;
  z-index: 200;
}
section .left_box .item1:hover {
  background: linear-gradient(to bottom right, #FFECA8, #FFD131);
  translate: all 2s ease-in-out;
}
section .left_box .item1:hover a::before {
  transform: scale(1);
  opacity: 1;
}
section .left_box .item2:hover {
  background: linear-gradient(to bottom right, #DFF0A9, #C9DD8C);
}
section .left_box .item3:hover {
  background: linear-gradient(to bottom right, #E2D9F4, #C7D0F7);
}
section .left_box .item4:hover {
  background: linear-gradient(to bottom right, #FFE0C6, #F7B983);
}

/*******     right box (S)    ******/
.right_box {
  /*    service-box (S)   */
  /*******    notice-box (S)   **********/
  /***********    banner-box (S)   ***********/
}
.right_box .service_box {
  display: flex;
  align-items: center;
  width: 770px;
  height: 167px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 25px;
  margin-bottom: 48px;
}
.right_box .service_box div {
  padding: 40px;
  width: 260px;
  background-color: #f5f5f5;
  border-radius: 25px;
}
.right_box .service_box div h3 {
  width: 260px;
  margin-bottom: 16px;
  background-color: #f5f5f5;
  font-size: 2rem;
  font-weight: bold;
  font-family: KBFGDisplay;
  color: #303030;
}
.right_box .service_box div p {
  background-color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 100;
  color: #707070;
}
.right_box .service_box ul {
  display: flex;
  background-color: #f5f5f5;
}
.right_box .service_box ul li {
  display: flex;
  justify-content: center;
  position: relative;
  width: 170px;
  height: 74px;
  background-color: #f5f5f5;
  border-left: 1px solid #e6e6e6;
}
.right_box .service_box ul li a {
  position: absolute;
  top: 50px;
  font-size: 16px;
  color: #303030;
}
.right_box .service_box ul .item01 {
  background: url(../../assets/img/icon_prod_car.png) no-repeat center top/40px;
}
.right_box .service_box ul .item02 {
  background: url(../../assets/img/icon_prod_car01.png) no-repeat center top/40px;
}
.right_box .service_box ul .item03 {
  background: url(../../assets/img/icon_prod_coin.png) no-repeat center top/40px;
}
.right_box .notice_box {
  display: flex;
  justify-content: space-between;
}
.right_box .notice_box div {
  position: relative;
  width: 368px;
}
.right_box .notice_box div h3 {
  font-size: 2rem;
  color: #303030;
  font-family: KBFGDisplay;
}
.right_box .notice_box div li {
  background: url(../../assets/img/icon_arrow_r.png) no-repeat right center/30px;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #303030;
  font-weight: 50;
}
.right_box .notice_box div p {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 1.5rem;
  color: #707070;
}
.right_box .notice_box div .btn_more {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../assets/img/icon_plus.png) no-repeat left center/12px;
  padding: 0 11px 0 15px;
  font-size: 1.5rem;
  color: #707070;
}
.right_box .banner_box {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.right_box .banner_box .direct_car {
  width: 375px;
  height: 120px;
  background: #e6ebff url(../../assets/img/img_banner_bear.png) no-repeat right 20px center/110px;
  border-radius: 25px;
  padding: 30px;
}
.right_box .banner_box .direct_car strong {
  font-size: 1.8rem;
  font-family: KBFGDisplay;
  color: #303030;
}
.right_box .banner_box .direct_car p {
  margin-top: 6px;
  font-size: 1.4rem;
  font-weight: 100;
  color: #707070;
  line-height: 20px;
}
.right_box .banner_box img {
  width: 375px;
  height: 120px;
  border-radius: 25px;
}

/***********    chatbot-box (S)   ***********/
.chatbot_box {
  position: fixed;
  right: 100px;
  bottom: 100px;
  /* chatbot hover */
}
.chatbot_box span {
  position: absolute;
  right: -40px;
  bottom: -20px;
  background-color: #ffcc00;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  z-index: 5000;
}
.chatbot_box img {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 50px;
  z-index: 6000;
}
.chatbot_box a {
  position: absolute;
  right: -120px;
  bottom: -20px;
  width: 300px;
  height: 80px;
  padding: 15px 20px;
  background-color: #003471;
  font-size: 1.4rem;
  color: #f9f9f9;
  border-radius: 24px 24px 6px 24px;
  line-height: 1.6;
  opacity: 0;
  z-index: 4000;
  transition: all 0.5s ease-in-out;
  transform: scale(0);
}
.chatbot_box span:hover + a {
  right: 0;
  bottom: 20px;
  opacity: 1;
  transform: scale(1);
}

/* footer */
/***********    customer-box (S)   ***********/
.customer_box {
  display: flex;
  margin-top: 30px;
  border-top: 1px solid #e6e6e6;
  padding: 25px 0 0;
}
.customer_box li {
  margin-right: 22px;
}
.customer_box li span {
  margin: 0 30px;
  font-size: 1.3rem;
  color: #707070;
}
.customer_box li strong {
  margin-left: -20px;
  font-size: 2rem;
  color: #303030;
}
.customer_box .color_303030 {
  color: #303030;
}
.customer_box .color_brown {
  color: #776C61;
}
.customer_box .type1 {
  background: url(../../assets/img/icon_call01.png) no-repeat left center/24px;
}
.customer_box .type2 {
  background: url(../../assets/img/icon_call02.png) no-repeat left center/24px;
}
.customer_box .type3 {
  background: url(../../assets/img/icon_call03.png) no-repeat left center/24px;
}
.customer_box .type4 {
  background: url(../../assets/img/icon_call04.png) no-repeat left center/24px;
}
.customer_box .type5 {
  background: url(../../assets/img/icon_call05.png) no-repeat left center/24px;
}

/***********    under-box (S)   ***********/
/* left-box (S) */
.under_box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  /* left-box (S) */
  /* right-box (S) */
}
.under_box .left_box > ul {
  display: flex;
}
.under_box .left_box > ul li {
  border-left: 1px solid #e6e6e6;
}
.under_box .left_box > ul li a {
  margin: 0 20px;
  font-size: 1.4rem;
  color: #707070;
}
.under_box .left_box > ul .none {
  border: none;
}
.under_box .left_box > ul .none a {
  margin: 0 20px 0 0;
}
.under_box .left_box > ul .color_black {
  color: #303030;
}
.under_box .left_box address {
  margin-top: 20px;
}
.under_box .left_box address .bottom {
  display: flex;
  position: relative;
}
.under_box .left_box address .bottom li {
  padding: 0 8px;
  font-size: 1.3rem;
  color: #707070;
}
.under_box .left_box address .bottom li::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 265px;
  width: 1px;
  height: 9px;
  background-color: #a0a0a0;
}
.under_box .left_box address .bottom li::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 367px;
  width: 1px;
  height: 9px;
  background-color: #a0a0a0;
}
.under_box .left_box address .bottom .none {
  padding: 0 8px 0 0;
}
.under_box .left_box address p {
  font-size: 1.1rem;
  color: #707070;
}
.under_box .right_box button {
  width: 200px;
  padding: 12px 20px;
  text-align: left;
  font-size: 1.4rem;
  color: #707070;
  background: #fff url(../../assets/img/icon_familysite_close.png) no-repeat right 20px center/10px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}
.under_box .right_box ul {
  display: flex;
  margin-top: 10px;
}