*{
    margin: 0;
    padding: 0;
    color: #000;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #303030;
}

html,body{
    font-size: 62.5%;
    font-family: "SpoqaHanSansNeo", "sans-serif";
}